process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
process { withName: 'RANALYSIS' { container = 'community.wave.seqera.io/library/bioconductor-biovizbase_bioconductor-genomeinfodb_bioconductor-genomicranges_bioconductor-ggbio_pruned:236132cfce703864' } }
