process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
process { withName: 'RANALYSIS' { container = 'oras://community.wave.seqera.io/library/bioconductor-biovizbase_bioconductor-genomeinfodb_bioconductor-genomicranges_bioconductor-ggbio_pruned:e082a5465b761264' } }
